services:
  db:
    image: mysql:8.0

    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: fleetscan
      MYSQL_USER: taxiuser
      MYSQL_PASSWORD: taxi123

    ports:
      - "3306:3306"

    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build:
      context: ../../../../../../..
      dockerfile: src/main/java/com/fleetScan/taxiService/Dockerfile

    depends_on:
      - db

    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/fleetscan

      SPRING_DATASOURCE_USERNAME: taxiuser
      SPRING_DATASOURCE_PASSWORD: taxi123


    restart: unless-stopped

volumes:
  mysql_data: