services:
  db:
    image: mysql:8.0

    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: fleetscan
      MYSQL_USER: taxiuser
      MYSQL_PASSWORD: taxi123

    ports:
      - "3307:3306"

    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .

    depends_on:
      - db

    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/fleetscan

      SPRING_DATASOURCE_USERNAME: taxiuser
      SPRING_DATASOURCE_PASSWORD: taxi123
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN:-}
      TELEGRAM_BOT_NAME: ${TELEGRAM_BOT_NAME:-fleetScanBot}
      FLEETSCAN_AI_BASE_URL: ${FLEETSCAN_AI_BASE_URL:-http://host.docker.internal:8000}


    restart: unless-stopped

volumes:
  mysql_data:
